@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

html,
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  background-color: rgb(116, 116, 116);
  height: 15vh;
  width: 100%;
  box-shadow: black 0px 10px 6px 1px;
}

header h1 {
  font-weight: 1000;
  color: yellow;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  text-shadow: black 3px 2px 5px;
}

section#versionsTab {
  width: 100%;
  max-height: fit-content;
  padding: 0 0.6rem 0.5rem;
  background-color: rgb(116, 116, 116);
  box-shadow: black 0px 10px 10px 1px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 0.3rem;
  justify-content: center;
}

section#versionsTab div.cardVersion {
  background-color: aqua;
  border-radius: 10px;
  padding: 0rem 1rem;
  border: solid black 1px;
  margin: 2px;
}

section#versionsTab div.cardVersion:hover {
  cursor: pointer;
  transform: scale(1.1);
}

section#version {
  width: 6vw;
  height: 1.5rem;
  background-color: rgb(116, 116, 116);
  align-self: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: black 0px 10px 10px 1px;
  border-bottom: solid black 1px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

section#version:hover {
  cursor: pointer;
  width: 6.5vw;
  height: 1.6rem;
  font-size: 1.1rem;
}

section#version h2#dropVersion {
  font-size: 100%;
  padding: 0;
  margin-top: 2%;
}

section#screen {
  width: 100%;
  height: 100vh;
}

div#menu {
  background-color: rgba(222, 14, 49, 255);
  width: 12rem;
  height: 5vh;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 30px;
  border-top: solid black 1px;
  border-left: solid black 1px;
  box-shadow: rgba(137, 5, 27, 255) -3px -1px 15px;
}

div#openMenu {
  background-color: rgba(222, 14, 49, 255);
  width: 20rem;
  height: 65vh;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 30px;
  border-top: solid black 1px;
  border-left: solid black 1px;
  box-shadow: rgba(137, 5, 27, 255) -4px -2px 15px;
  display: flex;
  padding: 2rem;
}

div.menu span#menuSpan {
  margin-left: 1rem;
  margin-top: 0.4rem;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
}

div.menu span#menuSpan:hover {
  cursor: pointer;
  font-size: 1.7rem;
  margin-top: 0;
}

div#menu section#menuContent {
  display: none;
}
div#openMenu section#menuContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  padding: 0.3rem 2rem;

  align-self: center;
  color: white;
  border-top-left-radius: 20px;
  border: solid rgb(65, 63, 63) 5px;

  background-color: rgb(0, 0, 0);
}

div#openMenu section#menuContent h3#menuContentTitle {
  position: inherit;
  top: 0;
  margin-bottom: 2rem;
}

div#openMenu section#menuContent div#srchName input {
  width: 40%;
  background-color: black;
  color: white;
  border-top-left-radius: 10px;
  margin: 0;
  padding-left: 5%;
}

div#openMenu section#menuContent div#srchNum input {
  width: 40%;
  background-color: black;
  color: white;
  border-bottom-left-radius: 10px;
  margin: 0;
  padding-left: 5%;
}

div#openMenu section#menuContent div#srchName button.btnSrchPoke {
  margin: 0;
  padding: 2px 5px;
  border-top-right-radius: 10px;
  border: solid grey 2px;
  background-color: black;
  color: white;
}
div#openMenu section#menuContent div#srchName button.btnSrchPoke:hover {
  cursor: pointer;
  background-color: rgb(39, 39, 39);
}

div#openMenu section#menuContent div#srchNum button.btnSrchPoke {
  margin: 0;
  padding: 2px 5px;
  border-bottom-right-radius: 10px;
  border: solid grey 2px;
  background-color: black;
  color: white;
}

div#openMenu section#menuContent div#srchNum button.btnSrchPoke:hover {
  cursor: pointer;
  background-color: rgb(39, 39, 39);
}

div#openMenu section#menuContent button#advSearch {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px 5px;
  align-self: inherit;
  margin-top: 55%;
  border: solid grey 2px;
  background-color: black;
  color: white;
}

div#openMenu section#menuContent button#advSearch:hover {
  cursor: pointer;
  background-color: rgb(39, 39, 39);
}

footer {
  bottom: 0;
  font-size: 0.7rem;
}
